setuptools==70.0
wheel==0.43
torch==2.3
pytorch-lightning==2.2
numpy==1.26
torchmetrics==1.4
torchvision==0.18
gymnasium==0.29
lightning==2.2
matplotlib==3.9
tensorboard==2.17
pytest==8.3
stable_baselines3[extra]==2.3
scipy==1.14
rich==13.7